$breakpoints: (
	small: 45em,
);

$colors: (
	primary: (
		400: hsl(6 100% 80%),
		500: hsl(335 100% 65%),
	),
	neutral: (
		100: hsl(0 0% 100%),
		300: hsl(243 100% 93%),
		400: hsl(229 7% 45%),
		600: hsl(228 56% 26%),
		700: hsl(229 57% 11%),
	),
);

$font-sizes: (
	small: (
		400: 1.4rem,
		700: 3.6rem,
	),
);

$font-weights: (
	400: 400,
	700: 700,
);

$border-radius: (
	300: 1rem,
	800: 10rem,
	900: 100vmax,
);
